// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP
$brand-font-family: 'Metric',
Arial,
sans-serif;
$brand-large-number-font-family: 'Metric',
Arial,
sans-serif;
$brand-color: #01a982;
$brand-color-lighter: desaturate(lighten($brand-color, 55%), 40%);
$brand-neutral-colors: (#425563, #5f7a76, #80746e, #767676) !default;
$brand-accent-colors: (#2ad2c9, #614767, #ff8d6d) !default;
$brand-status-colors: ( critical: #f04953, error: #f04953, warning: #ffd144, ok: $brand-color, unknown: #cccccc, disabled: #cccccc);
$brand-link-color: inherit;
$link-hover-color: #000;
$brand-link-text-decoration: underline;
$brand-grey-colors: (#000001, #333333, #3b3b3b, #434343, #666666);
$brand-graph-colors: $brand-neutral-colors;
$hpe-fonts-path: "https://hpefonts.s3.amazonaws.com/web" !default;
@font-face {
    font-family: "Metric";
    src: url("#{$hpe-fonts-path}/MetricHPE-Web-Regular.woff") format('woff');
}

@font-face {
    font-family: "Metric";
    src: url("#{$hpe-fonts-path}/MetricHPE-Web-Bold.woff") format('woff');
    font-weight: 700;
}

@font-face {
    font-family: "Metric";
    src: url("#{$hpe-fonts-path}/MetricHPE-Web-Semibold.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "Metric";
    src: url("#{$hpe-fonts-path}/MetricHPE-Web-Light.woff") format('woff');
    font-weight: 100;
}

$text-font-weight: 100;
$text-strong-font-weight: 600;
$button-accent-color: #ff8d6d;
$control-brand-color: #049371;
$border-radius: 0px;
.intro-bg {
    background: linear-gradient( to bottom, #634c68 0, rgba(99, 76, 104, .98) 1%, rgba(99, 76, 104, .34) 41%, rgba(52, 200, 192, .34) 67%, #34c8c0 100%);
}

.projects-bg {
    background: red;
}

.aboutme-bg {
    background: blue;
}

.contact-bg {
    background: green;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0 2rem;
    font-size: 2rem;
}

ul li a.nav_link,
.grommet a:not(.grommetux-anchor):not(.grommetux-button):visited {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
}

.grommet a:not(.grommetux-anchor):not(.grommetux-button):hover {
    color: #fff;
    transition: opacity .25s ease-out;
    text-decoration: none;
}